/**
 * Zabuto Calendar
 */
.calendar-content, .calendar-content-edit {
	width: 294px;
}

div.zabuto_calendar {
    margin: 1px;
    padding: 0;
    border-radius: 4px;
}

div.zabuto_calendar table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0px !important;
    border-collapse: initial !important;
}

div.zabuto_calendar .table th {
    padding: 2px 2px;
    text-align: center;
}

div.zabuto_calendar .table th, .zabuto_calendar .table td {
	width: 42px !important;
	height: 42px !important;
	padding: 2px 1px;
}

div.zabuto_calendar .table tr td {
	/* padding: 2px 2px; */
    text-align: center;
	cursor: pointer;
}

div.zabuto_calendar .table tr td.dow-clickable:nth-child(-n+6):hover {
	background-color: #d9faf4;
}

div.zabuto_calendar .table tr td.near {
	cursor: default;
	background-color: #ffffff;
}

div.zabuto_calendar .table tr th,
div.zabuto_calendar .table tr td {
    background-color: #ffffff;
}

div.zabuto_calendar .table tr.calendar-month-header th {
    background-color: #fafafa;
}

div.zabuto_calendar .table tr.calendar-month-header th span {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 10px;
}

div.zabuto_calendar .table tr.calendar-dow-header th {
    background-color: #f0f0f0;
}

div.zabuto_calendar .table tr.calendar-month-header th {
    padding-top: 12px;
    padding-bottom: 4px;
}

div.zabuto_calendar .table-bordered tr.calendar-month-header th {
    border-left: 0;
    border-right: 0;
}

/* div.zabuto_calendar .table-bordered tr.calendar-month-header th:first-child {
    border-left: 1px solid #dddddd;
    border-top-left-radius: 4px;
}

div.zabuto_calendar .table-bordered tr.calendar-month-header th:last-child {
    border-top-right-radius: 4px;
} */

div.zabuto_calendar div.calendar-month-navigation {
    cursor: pointer;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

div.zabuto_calendar tr.calendar-dow-header th,
div.zabuto_calendar tr.calendar-dow td {
    width: 14%;
}

div.zabuto_calendar .table tr td div.day {
    height: 100%;
    width: 100%;
    /* padding-top: 7px; */
    /* padding-bottom: 7px; */
    vertical-align: middle;
    line-height: 36px;
    border-radius: 4px;
}

/* actions and events */
div.zabuto_calendar .table tr td.current {
	background-color: #18bc9c;
    color: #eee;
}
div.zabuto_calendar .table tr td.event div.day,
div.zabuto_calendar ul.legend li.event {
    background-color: #e74c3c;
    opacity: 0.85;
}

div.zabuto_calendar .table tr td.dow-clickable,
div.zabuto_calendar .table tr td.event-clickable {
    cursor: pointer;
}

/* badge */
div.zabuto_calendar .badge-today,
div.zabuto_calendar div.legend span.badge-today {
    background-color: #357ebd;
    color: #ffffff;
    text-shadow: none;
    z-index: 100;
    padding: 4px 8px !important;
    font-size: 13px !important;
    font-weight: bold !important;
}

div.zabuto_calendar .badge-event,
div.zabuto_calendar div.legend span.badge-event {
    background-color: #e74c3c;
    color: #ffffff;
    opacity: 0.85;
    text-shadow: none;
    z-index: 90;
}

div.zabuto_calendar .badge-checked,
div.zabuto_calendar div.legend span.badge-checked {
    background-color: #18bc9c;
    color: #ffffff;
    text-shadow: none;
}

/* div.zabuto_calendar .badge-event {
    font-size: 0.95em;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
} */

/* legend */
div.zabuto_calendar div.legend {
    margin-top: 5px;
    text-align: right;
    /* border-top: 1px solid #ecf0f1; */
    padding: 0 5px 3px 0;
	align-content: space-between;
	text-align: center;
}

div.zabuto_calendar div.legend span {
    color: #6a6a6a;
    font-size: 11px;
    font-weight: normal;
    padding-left: 10px;
}

div.zabuto_calendar div.legend span.legend-text:after,
div.zabuto_calendar div.legend span.legend-block:after,
div.zabuto_calendar div.legend span.legend-list:after,
div.zabuto_calendar div.legend span.legend-spacer:after {
    content: ' ';
}

div.zabuto_calendar div.legend span.legend-spacer {
    padding-left: 25px;
}

div.zabuto_calendar ul.legend > span {
    padding-left: 2px;
}

div.zabuto_calendar ul.legend {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

div.zabuto_calendar ul.legend li {
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-left: 5px;
}

div.zabuto_calendar ul.legend
div.zabuto_calendar ul.legend li:first-child {
    margin-left: 7px;
}

div.zabuto_calendar ul.legend li:last-child {
    margin-right: 5px;
}

div.zabuto_calendar div.legend span.badge {
    font-size: 0.9em;
    border-radius: 5px 5px 5px 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.today {
	background-color: #357ebd;
	color: #ffffff !important;
}

.checked {
	background-color: #18bc9c;
}

calendar-month-navigation.hidden {
    display: none;
}
