/* @import 'https://fonts.googleapis.com/css?family=Raleway:300'; czcionka do menu a la uniwersytecka, ale za to darmowa - niegospodarność do zbadania przez NIK */

#flexbox {
    /* to wyszło bardzo profesjonalnie */
    height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: row;
}

.jumbotron {
    width: 100%;
}

.navbar-default {
    border-bottom: 2px #95A5A6 solid !important;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    line-height: 21px;
    height: 60px;
    padding: 0 !important;
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

.navbar-brand>img {
    display: block;
    margin: 9px;
    opacity: 0.8;
}

.navbar-brand>img:hover, img:active, img:focus {
    opacity: 1;
}

@media screen and (max-width: 990px) and (min-width: 768px) {
    .navbar-nav {
        font-size: small;
    }
    .nav > li > a {
        position: relative !important;
        display: block !important;
        padding: 19.5px 10px !important;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    .nav > li > a {
        padding-left: 30px !important;
    }
    .navbar-brand > img {
        display: block;
        margin: 9px 9px 9px 20px !important;
        opacity: 0.8;
    }
    .navbar-toggle {
        margin-right: 20px !important;
    }
}

.row img {
    margin: 0;
    opacity: 0.8;
}

.row img:hover {
    opacity: 1;
}

.col-xs-6.col-md-3 img {
    border: 0;
}

.panel-body>ul {
    text-align: justify;
}

span.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}

div.panel-body>p {
    margin: 0;
}

div.col-lg-6>input {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

form>a {
    margin-top: 10px;
}

div.col-xs-6>a>img {
    border: solid #e7e7e7 2px;
    border-radius: 6px;
}

.tab-pane p {
    margin-top: 10px;
}

footer.footer {
    background-color: #ecf0f1;
    border-top: 2px #dde4e6 solid;
    width: 100%;
    align-items: center;
    display: inline-flex;
    word-spacing: 5px;
    color: #95A5A6;
    font-size: 12px;
    box-shadow: 0 2px 10px 2px lightgrey;
}

footer.footer div {
    text-align: center;
}

footer.footer a {
    color: #95A5A6;
    text-decoration: none;
}

footer.footer a:hover {
    color: #2C3E50;
    text-decoration: none;
}

#res_id {
    display: none;
}

table {
    font-size: 13px !important;
    margin-bottom: 0px !important;
    box-shadow: 0 2px 10px 2px lightgrey;
    f
}

table#users tr:first-child, table#reservations tr:first-child, table#files_list tr:first-child {
    cursor: default;
}

table#users tr:nth-child(1n+2):hover, table#reservations tr:nth-child(1n+2):hover, table#files_list tr:nth-child(1n+2):hover {
    background-color: rgba(217, 250, 244, 0.5);
}

table#users tr:nth-child(1n+2):hover a, table#reservations tr:nth-child(1n+2):hover a, table#files_list tr:nth-child(1n+2):hover a {
    color: rgba(13, 80, 68, 0.9);
}

table#users tr:nth-child(1n+2):hover a:hover, table#reservations tr:nth-child(1n+2):hover a:hover, table#files_list tr:nth-child(1n+2):hover a:hover {
    color: rgb(23, 178, 150);
    text-decoration: none;
}

table#users td:last-child div:nth-child(n+2), table#reservations td:last-child div:nth-child(n+2), table#files_list td:last-child div:nth-child(n+2) {
    margin-top: 5px;
    border-top: 1px solid #ecf0f1;
    padding-top: 5px;
}

td#td_res_details {
    text-align: justify !important;
}

td#td_res_details .name {
    font-weight: bold;
}

#loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #2c3e50;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 1s linear infinite;
    display: none;
    margin: 17px auto auto 15px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

label.textLabel {
    padding-top: 0 !important;
    width: 100px;
}

input.textForm {
    margin-left: 15px;
    height: 26px;
    padding: 0 0 0 6px;
}

.btn {
    transition: box-shadow .1s;
}

.btn:hover, .btn:focus, .btn.focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(44, 62, 80, 0.6);
}

img.equip {
    max-width: 85%;
    max-height: 330px;
    border-radius: 4px;
    margin: 15px;
}

h4.accordion:hover {
    text-decoration: underline;
}

div.btn-group.btn-group-justified.reservations {
    margin-bottom: 15px;
    box-shadow: 0 2px 10px 2px lightgrey;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    min-width: 70px !important;
    padding-left: 0 !important;
}

.alert {
    text-align: justify;
}

div#user_settings > div.form-group:nth-last-child(2) > div.col-xs-12.col-sm-6 {
    padding-left: 35px;
}

/*
* formatowanie logowania w polu modal
*/

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
